url: https://joycekimberly.github.io/SoniaBjornsen
baseurl: SoniaBjornsen
permalink: pretty
markdown: kramdown
defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
      author: "Sonia Bjornsen"
