---
---
a {
  outline: none !important;
  text-decoration: none !important;
}
:focus {
  outline: none !important;
  box-shadow: none !important;
}
::-moz-focus-inner {
  border: 0 !important;
}
.hidden {
  display: none;
}

$side-width: 25vw;

html { font-size: 2vw; }
body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

#navigation {
  width: $side-width;
}
.nav-link.active {
  font-weight: bold;
}

.block {
  min-height: 100vw;
  padding: $side-width;
}
