---
---
a {
  outline: none !important;
}
:focus {
  outline: none !important;
  box-shadow: none !important;
}
::-moz-focus-inner {
  border: 0 !important;
}

.hidden {
  display: none;
}

body {
  position: relative;
}

.nav-link.active {
  font-weight: bold;
}

.block {
  margin-top: 250px;
  margin-left: 250px;
}
