---
---

@import "variables";
@import "bootstrap/bootstrap";
@import "reset";

body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

time, #navigation a { color: $gray-700; }
time,
#navigation {
  background-color: black !important;
  font-size: 0.8rem;
  font-family: $font-family-base;
  text-transform: uppercase;
  //width: 100vw;
  //padding: 0 0 0 5vw;
  
  * {
    display: inline !important;
  }
}
/*.nav-link {
  display: inline-block;
}*/
.nav-link.active {
  font-weight: bold;
}

.block {
  min-height: 100vw;
  padding: $side-width 12.5vw $side-width $side-width;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-base;
}
h1,
h1 a {
  font-size: 6rem;
  color: $gray-600;
}

p {
  font-family: $font-family-base;
}
p:first-child:first-letter {
  color: $gray-700;
  float: left;
  font-size: 3rem;
  line-height: 2.8rem;
  padding-top: 0.3rem;
  padding-right: 0.3rem;
}
p:last-of-type {
  margin-bottom: 0;
}


//
// Specific
//

div#titel {
  background-image: url("../img/SoniaPortret-01.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: auto 80vh;
  
  min-height: 100vh;
}
h1.titel {
  background-image: url("../img/SoniaTitel-01.svg");
  background-repeat: no-repeat;
}