---
---
a {
  outline: none !important;
  text-decoration: none !important;
}
:focus {
  outline: none !important;
  box-shadow: none !important;
}
::-moz-focus-inner {
  border: 0 !important;
}
.hidden {
  display: none;
}

// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

// Create grayscale
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

// Reassign color vars to semantic color scheme
$brand-primary:             $blue !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;

@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush&subset=latin-ext');

$serif: 'Cardo', serif;
$sans: 'Questrial', sans-serif;
$cursive: 'Alex Brush', cursive;

$side-width: 25vw;

/*html { font-size: 1vw; }*/
body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

time,
#navigation {
  font-size: 0.7rem;
  font-family: $sans;
  text-transform: uppercase;
}
#navigation {
  width: $side-width;
}
.nav-link.active {
  font-weight: bold;
}

.block {
  min-height: 100vw;
  padding: $side-width 12.5vw $side-width $side-width;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $cursive;
}
h1 {
  font-size: 6rem;
}

p {
  font-family: $serif;
}
p:first-child:first-letter {
  color: $gray;
  float: left;
  font-size: 3rem;
  line-height: 2.8rem;
  padding-top: 0.2rem;
  padding-right: 0.3rem;
}
