---
---
a {
  outline: none !important;
  text-decoration: none !important;
}
:focus {
  outline: none !important;
  box-shadow: none !important;
}
::-moz-focus-inner {
  border: 0 !important;
}

$side-width: 250px;

.hidden {
  display: none;
}

body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

#navigation {
  width: $side-width;
}
.nav-link.active {
  font-weight: bold;
}

.block {
  padding-top: 250px;
  padding-left: $side-width;
}
