---
---
a {
  outline: none !important;
  text-decoration: none !important;
}
:focus {
  outline: none !important;
  box-shadow: none !important;
}
::-moz-focus-inner {
  border: 0 !important;
}
.hidden {
  display: none;
}

@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush&subset=latin-ext');

$serif: 'Cardo', serif;
$sans: 'Questrial', sans-serif;
$cursive: 'Alex Brush', cursive;

$side-width: 25vw;

/*html { font-size: 1vw; }*/
body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

time,
#navigation {
  font-size: 0.7rem;
  font-family: $sans;
  text-transform: uppercase;
}
#navigation {
  width: $side-width;
}
.nav-link.active {
  font-weight: bold;
}

.block {
  min-height: 100vw;
  padding: $side-width;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $cursive;
}
h1 {
  font-size: 5rem;
}

p {
  font-family: $serif;
}
