---
---

@import "reset";
@import "variables";

body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: black;
}

.titel {
  float: right;
}

time, #navigation a { color: $gray-light; }
time,
#navigation {
  font-size: 0.7rem;
  font-family: $sans;
  text-transform: uppercase;
}
#navigation {
  font-size: 0.8rem;
  width: $side-width;
  padding: 25vw 0 0 5vw;
}
.nav-link.active {
  font-weight: bold;
}

.block {
  min-height: 100vw;
  padding: $side-width 12.5vw $side-width $side-width;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $cursive;
}
h1,
h1 a {
  font-size: 6rem;
  color: $gray-lighter;
}

p {
  font-family: $serif;
}
p:first-child:first-letter {
  color: $gray-light;
  float: left;
  font-size: 3rem;
  line-height: 2.8rem;
  padding-top: 0.3rem;
  padding-right: 0.3rem;
}
p:last-of-type {
  margin-bottom: 0;
}
