<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- Debug only: -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <!-- End debug only: -->
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "url": "{{ site.url }}",
      "name": "Sonia Lynn Bjornsen"
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "Sonia Lynn Bjornsen",
      "url": "{{ site.url }}"
    }
    </script>
  </head>
  <body data-spy="scroll" data-target="#navigation" lang="en">

    <nav id="navigation" class="navbar fixed-top navbar-dark bg-dark">
      <div></div>
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#about">About</a>&nbsp;|&nbsp;
        <a class="nav-item nav-link" href="#lessons">Lessons</a>&nbsp;|&nbsp;
        <a class="nav-item nav-link" href="#contact">Contact</a>&nbsp;|&nbsp;
        <a class="nav-item nav-link" href="#news">News</a>&nbsp;|&nbsp;
        <a class="nav-item nav-link"><span class="flag-icon flag-icon-nl"></span></a>
      </div>
    </nav>
    
    {{ content }}
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ '/assets/js/functions.js' | relative_url }}"></script>
  </body>
</html>
